.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2em;
  width: 600px;
  min-height: 300px;
  background: var(--light-red);
  border-radius: 25px;
}

.imgWrapper img {
  width: 100%;
}
