.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2em;
  width: 600px;
  background: var(--yellow);
  border-radius: 25px;
}
