:root {
  --off-whith: #f4f1de;
  --dark-blue: #3d405b;
  --light-red: #e07a5f;
  --green: #81b29a;
  --yellow: #f2cc8f;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background: var(--off-whith);
  color: var(--dark-blue);
}

h1,
h2 {
  font-family: 'Rubik 80s Fade', system-ui;
  text-align: center;
}

h2 {
  margin: 0 0 1em;
  letter-spacing: 1px;
}
